.bg-img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero_background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}


.bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.bg-img2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url('../img/img_1.png');
    /* change image as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

.bg-img2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    /* Optional: You can set the same background image here if desired 
       or remove this block if not needed */
    background-image: url('../img/img_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

.bg-img2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.orange {
    color: #FF931E;
}



.bor {
    border: 1px sold black;
    background: linear-gradient(87.87deg, #1E1E1E 27.31%, rgba(30, 30, 30, 0.2) 262.61%);
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.org {
    color: orange;
}

.btn1 {
    color: white;
    background-color: #FF9421;
}

.bor1 {
    margin-top: 30px;
    border: 1px sold black;
    background: linear-gradient(87.87deg, #1E1E1E 27.31%, rgba(30, 30, 30, 0.2) 262.61%);
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.back-img {
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.list {
    list-style: none;
}

.bor2 {

    color: white;
    margin-top: 20px;
}

.marg {
    padding: 20px;
}