.bg-img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero_background_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}


.bg-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* --- Structured Light 3D Scanners Precise3DM Offers --- */

.bg-img4 {
    position: relative;
    width: 100%;
    height: 328px;
    overflow: hidden;
    background-image: url('../img/img_1.png');
    /* change image as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(10px); */
    z-index: -1;
}

.bg-img4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url('../img/img_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

.bg-img4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


.positon-img-1{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;


}


/* ------------------img 3 ------------------------------------------- */

.bg-img3 {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url('../img/bg-img-2.png');
    /* change image as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* filter: blur(10px); */
    z-index: -1;
}

.bg-img3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url('../img/bg-img-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

.bg-img3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.orange {
    color: #FF931E;
}

.orange-btn {
    background: linear-gradient(0deg, #FF931E, #FF931E),
        radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
}

